body {
  font-family: "Special Elite", cursive;
  text-align: center;
  background-image: url(https://res.cloudinary.com/dqvimfd8b/image/upload/v1570730138/strident/background2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}